@charset "UTF-8";

/* main.css */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

#menuList{
	display:flex;
	list-style:none;
	align-items:center;
	justify-content:space-between;
}

.menu{
	cursor:pointer;
	font-size:20px;
	text-align:center;
	width:20%;
}

.menu:hover{
	color:orange;
}

.active{
	background:#ddd;
}

#main{
	width:1000px;
	margin:20px auto;
	
}

#imgBoard{
	display:flex;
	flex-wrap:wrap;
	gap:10px;
}

#footer{
	width:1000px;
	margin:0 auto;
}

#loginBox{
	
	position:fixed;
	left:20px;
	top: 200px;
	padding: 10px 20px;
	border-radius:10px;
	background:#047cff;
	
	
}

#loginBox a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:800px;	
}






